#photos, #instrument
{
  display:inline-block;
  vertical-align : top;
  text-align : center;
}

.cellule {
  width : 143px;
  margin-left : 5px;
  margin-bottom : 5px;
  border : black 1px solid;
  float: left;
  background-color : #9966FF;
}

#photos {
  width : 33%;
}

.vignette {
  max-width : 140px;
  max-height : 120px;
}

#titre {
  text-align : center;
  margin-bottom : 10px;
}

#titre_bloc {
  text-align : center;
  background-color : #0033CC;
  color: #fff;
}
