{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h1>Modification de la famille</h1></h3> {% endblock %}
{% block body -%}


<form action="{{ path('famille2_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ path('famille2') }}">
            Back to the list
        </a>
    </li>
</ul>
<p>
<form action="{{ path('famille2_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button type="submit">Delete</button>
</form>
</p>

{% endblock %}
