{% extends '::basevente.html.twig' %}
{% block title %}
    Les familles
{% endblock %}
{% block paneltitle %} <h1>Les Familles</h1>{% endblock %}
{% block body -%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('famille2_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td>
                        <a href="{{ path('famille2_show', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            show
                        </a>&nbsp;&nbsp;&nbsp;

                        <a href="{{ path('famille2_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                            edit
                        </a>&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class='list-group'>
        <li class='list-group-item'>
            <a href="{{ path('famille2_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
