{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h1>Affichage de la famille</h1> {% endblock %}
{% block body -%}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
        </tbody>
    </table>

<p class="record_actions">

    <a href="{{ path('famille2') }}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to the list
    </a>&nbsp;&nbsp;&nbsp;

    <a href="{{ path('famille2_edit', { 'id': entity.id }) }}">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>&nbsp;&nbsp;&nbsp;

<form action="{{ path('famille2_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button type="submit">Delete</button>
</form>

</p>
{% endblock %}
