{% extends "::basevente.html.twig" %}
{% block title %} Supprimer film - {{ parent() }} {% endblock %}
{% block paneltitle %} <h3> Modifier un film</h3> {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped">
                <tr>
                    <td>
                        <form class="form-horizontal" action="{{ path('cinemaconsultation_supprimerfilm', {'id':unFilm.id}) }}" method="post" {{ form_enctype(form) }}>
                           <p>Êtes vous sur de vouloir supprimer "{{unFilm.titre}}" ?</p>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-4">
                                   <input type="submit" class="btn btn-primary" value="Supprimer"/>
                              </div>
                          </div>
                          {{ form_rest(form) }}
                        </form> 
                    </td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}