{% extends "::base.html.twig" %}

{% block title %}
    Gestion des films - {{ parent() }} 
{% endblock %}

{% block paneltitle %} <h3>Les films</h3> {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped">  
                {% for unFilm in film %}
                    <tr>
                        <td>
                            <a href="{{ path('cinemaconsultation_affichefilm', {'id' : unFilm.id}) }}"> {{unFilm.titre}} </a>
                        </td>
                    </tr>
                {% else %}
                    Erreur
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}