{%extends "::base.html.twig" %}
{% block title %}
    Film : {{unFilm.titre}} {{ parent() }}
{% endblock %}
{% block paneltitle %} <h3>Détail du film N°{{unFilm.id}}</h3> {% endblock %}
{% block body %}
   <a href="{{ path('cinemaconsultation_homepage') }}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Retour à la liste</a>
    <p>
        {# affichage des messages flash dont le nom est 'info' #}
        {% for message in app.session.flashbag.get('info') %}
        <p> {{ message }}
        </p>
    {% endfor %}
<table class="table table-striped">
    <tr>
        <th>Titre</th>
        <th>Resume</th>
        <th>Durée</th>
        <th>Pays</th>
        <th>Recette</th>
    </tr>
    <tr>
        <th>{{unFilm.titre}} </th>
        <td>{{unFilm.resume}} </td>
        <td>{{unFilm.duree}} </td>
        <td>{{unFilm.pays}} </td>
        <td>{{unFilm.recette}} </td>
    </tr>
</table>
{%endblock%}