{%extends "::base.html.twig" %}
{% block title %}
    Les Films {{ parent() }}
{% endblock %}
{% block paneltitle %} <h3>Liste de films</h3> {% endblock %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <th>Titre </th>
            <td>Resume</td>
            <td>Duree</td>
            <td>Pays</td>
            <td>Recette</td> 
        </tr>
        {% for unFilm in film %}
            <tr>
                <td>{{ unFilm.titre }}</td>
                <td>{{ unFilm.resume }}</td>
                <td>{{ unFilm.duree }}</td>
                <td>{{ unFilm.pays }}</td>
                <td>{{ unFilm.recette }}</td>
            </tr>

        {% else %}
            Erreur
        {% endfor %}
    </table>
{%endblock%}