{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h1>Modification du produit</h1></h3> {% endblock %}
{% block body -%}

    <form action="{{ path('produit2_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="list-group">
    <li class='list-group-item'>
        <a href="{{ path('produit2') }}">
            Back to the list
        </a>
    </li>
    <li class='list-group-item'>
        <form action="{{ path('produit2_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
