{% extends '::basevente.html.twig' %}

{% block paneltitle %}<h1>Liste de produits</h1> {% endblock %}
{% block body -%}


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prixht</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('produit2_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.prixHT }}</td>
                    <td>

                        <a href="{{ path('produit2_show', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            show
                        </a>&nbsp;&nbsp;&nbsp;

                        <a href="{{ path('produit2_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                            edit
                        </a>&nbsp;&nbsp;&nbsp;

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class='list-group'>
        <li class='list-group-item'>
            <a href="{{ path('produit2_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
