{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h1>Création de produits</h1> {% endblock %}
{% block body -%}

    <form action="{{ path('produit2_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('produit2') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
