{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h1>Affichage du produit {{entity.nom}}</h1></h3> {% endblock %}
{% block body -%}
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Prixht</th>
            <td>{{ entity.prixHT }}</td>
        </tr>
    </tbody>
</table>

<p class="record_actions">

    <a href="{{ path('produit2') }}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to the list
    </a>&nbsp;&nbsp;&nbsp;

    <a href="{{ path('produit2_edit', { 'id': entity.id }) }}">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>&nbsp;&nbsp;&nbsp;

<form action="{{ path('produit2_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button type="submit">Delete</button>
</form>

</p>
{% endblock %}
