{%extends "::base.html.twig" %}
{% block title %}
    les films
{% endblock %}

{% block body %}
{% for unFilm in film %}
    <h1> Titre : {{ unFilm.titre }}</h1>
    <p>Resume : {{unFilm.resume}}</p>
    <p>Duree : {{unFilm.duree}} minutes</p>
    <p> Pays : {{unFilm.pays}}</p>
    <p> Recette : {{unFilm.recette}} yen </p>
    
{% else %}
    Erreur
{% endfor %}
{%endblock%}