<div data-role="header" data-theme="b">
    <a data-rel="back" data-icon="back">retour</a> 
    <h1>Application de Covoiturage</h1>
    <a href="index.php?action=accueil" rel="external" data-rel="home" data-icon="home">accueil</a> 
</div><!-- /header -->
