<div data-role="footer" data-theme="b">
    <div data-role="navbar">
        <ul>
            <li><a href="index.php?action=gereroffresarriveeentreprise" rel="external">Voir toutes les offres arrivée entreprise</a></li>
            <!-- l'attribut rel="external" permet de faire appel à un lien externe sans passer par ajax -->  
            <li><a href="index.php?action=gereroffresdepartentreprise" rel="external">Voir toutes les offres départ entreprise</a></li>
            <li><a href="index.php?action=gereroffres">Gérer mes offres</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->

